body {
    background: #edeff2;
    color: #fff;
}

header,
section,
main,
footer {
    margin-top: -20px;
}

p {
    margin-bottom: 0;
}

.row {
    margin-bottom: 20px;
}

header {
    background: #232532;
    margin-top: 20px;
    padding: 20px;
    /* margin-bottom: 0px; */
}

main article {
    color: #000;
    background: #fff;
    padding: 20px;
}

aside {
    background: #7aa54c;
    padding: 40px 20px;
    text-align: center;
}

.widgets .widget {
    background: #4f5e4c;
    padding: 40px 20px;
    text-align: center;
}

footer {
    background: #232532;
    padding: 20px;
    /* margin-top: 20px; */
}